<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv=" X-UA-compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission 1 FEWDE Adiva AP</title>
</head>
<body>
    <a href="#content-main" class="skip-content">Skip to content ?</a>

    <div class="hero-content">
        <div class="icon-hero" id="hero"><a id="hamburger" href="#" aria-label="navigation-menu">☰</a></div>
        <div class="logo-hero">Catalogue Restaurant</div>
        <div class="logo-hero">&nbsp;</div>
    </div>

    <nav id="drawer" class="navbar-hero">
        <ul class="navbar-list-hero">
            <li class="navbar-item-hero"><a href="/">Home</a></li>
            <li class="navbar-item-hero"><a href="/">Favorite</a></li>
            <li class="navbar-item-hero"><a target="_blank" href="https://www.linkedin.com/in/adiva-arini-puteri-91bbbb169/">About</a></li>
        </ul>
    </nav>
    
    <nav class="navbar">
        <a class="logo-hero" href="">Catalogue Restaurant</a>
        <ul class="navbar-list">
            <li class="navbar-item"><a href="/">Home</a></li>
            <li class="navbar-item"><a href="/">Favorite</a></li>
            <li class="navbar-item"><a target="_blank" href="https://www.linkedin.com/in/adiva-arini-puteri-91bbbb169/">About</a></li>
        </ul>
    </nav>
   
    <div class="jumbotron">
        <div class="jumbotron-content">
            <h1 class="title-jumbotron">Catalogue Restaurant</h1>
            <p class="text-jumbotron">Find the your favorite restaurants in here...</p>
        </div>
    </div>

    <main id="content-main">
        <section class="content-section">
            <div class="last-content">
                <h1>Explore Restaurant in Catalogue Restaurant</h1>
                <div class="list-content" id="catalogue"></div>
            </div>
        </section>
    </main>

    <footer>
        <p>Submission 1 FEWDE Adiva AP ©2022 - Catalogue Restoran</p>
    </footer>
</body>
</html>